.h600 {height: 600px;}
.h25 {height: 25%;}
.h50 {height: 50%;}
.w900 {width: 900px;}
.w100 {width: 100%;}
.w25 {width: 25%;}

.padding {padding: 8px;}
.float {float: left;}
.clear {clear: both;}

.bgOrange {background-color: orange;}
.bgRed {background-color: red;}
.bgGreen {background-color:green;}
.bgBlue {background-color:blue;}
.bgBlack {background-color:black}